body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}  

.top-bar {
  background: #222;
  color: #fff;
  height: 20px;
  padding: 4px;
  text-align: right;
  /* -webkit-app-region: drag; NOTE: unfortunately, the dragable area in the iframe does not work */
}

.top-bar button {
  background-color: transparent;
  border-radius: 2px;
  border: solid 1px #999;
  color: #bbb;
}

.content {
  color: #333;
  font-size: 14px;
  padding: 10px;
}

.content input {
  border-radius: 0.25rem;
  border: solid 1px #ddd;
  margin-bottom: 2px;
  padding: 4px 4px;
}

.content button {
  background-color: #bbb;
  border-radius: 0.25rem;
  border: 1px solid #bbb;
  color: #fff;
  margin-bottom: 2px;
  padding: 4px 4px;
}

pre {
  background: #eee;
  border-radius: 5px;
  border: solid 1px #bbb;
  padding: 10px;
}

pre.flash {
  background: #fff;
  border: solid 1px #eee;
}
