body {
  margin: 0;
  padding: 0;
}

.drag {
  position: relative;
  height: 20px;
  margin: 0 80px 0 0; /* Need space on right so it doesn't cover minimize, maximize, close buttons */
  -webkit-app-region: drag; /* Allows user to drag to move window */
  z-index: 2;
}

#container {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  border: 0px;
}
